
.idea/JaviProject.iml
.idea/misc.xml
*.iml
.idea/misc.xml
*.pyc
*.iml
TFM/Models/HelperNetV1/checkpoint
TFM/Models/HelperNetV1/checkpoint
TFM/Models/HelperNetV1/epoch_269.data-00000-of-00001
TFM/Models/HelperNetV1/epoch_269.index
TFM/Weights/HelperNetV1/checkpoint
TFM/Weights/HelperNetV1/synthetic_epoch_517.data-00000-of-00001
TFM/Weights/HelperNetV1/synthetic_epoch_517.index
TFM/Weights/HelperNetV1/synthetic_real_epoch_69.data-00000-of-00001
TFM/Weights/HelperNetV1/synthetic_real_epoch_69.index
TFM/Weights/HelperNetV2/checkpoint
TFM/Weights/HelperNetV2/synthetic_real_epoch_101.data-00000-of-00001
TFM/Weights/HelperNetV2/synthetic_real_epoch_101.index
TFM/Weights/HelperNetV3/checkpoint
TFM/Weights/HelperNetV3/synthetic_real_epoch_87.data-00000-of-00001
TFM/Weights/HelperNetV3/synthetic_real_epoch_87.index
TFM/Weights/Net_0/checkpoint
TFM/Weights/Net_0/synthetic_real_average_epoch_196.data-00000-of-00001
TFM/Weights/Net_0/synthetic_real_average_epoch_196.index
TFM/Weights/Net_0/synthetic_real_bilinear_epoch_118.data-00000-of-00001
TFM/Weights/Net_0/synthetic_real_bilinear_epoch_118.index
TFM/Weights/Net_0/synthetic_real_epoch_136.data-00000-of-00001
TFM/Weights/Net_0/synthetic_real_epoch_136.index
TFM/Weights/Net_0/synthetic_real_linear_epoch_74.data-00000-of-00001
TFM/Weights/Net_0/synthetic_real_linear_epoch_74.index
TFM/Weights/Net_1/checkpoint
TFM/Weights/Net_1/synthetic_real_epoch_84.data-00000-of-00001
TFM/Weights/Net_1/synthetic_real_epoch_84.index
TFM/Weights/Net_2/checkpoint
TFM/Weights/Net_2/synthetic_real_epoch_88.data-00000-of-00001
TFM/Weights/Net_2/synthetic_real_epoch_88.index
TFM/Weights/Net_2/synthetic_real_hsl_epoch_64.data-00000-of-00001
TFM/Weights/Net_2/synthetic_real_hsl_epoch_64.index
TFM/Weights/Net_2/synthetic_real_hsv_epoch_129.data-00000-of-00001
TFM/Weights/Net_2/synthetic_real_hsv_epoch_129.index
TFM/Weights/Net_2/synthetic_real_lab_epoch_77.data-00000-of-00001
TFM/Weights/Net_2/synthetic_real_lab_epoch_77.index
TFM/Weights/Net_2/synthetic_real_yuv_epoch_107.data-00000-of-00001
TFM/Weights/Net_2/synthetic_real_yuv_epoch_107.index
TFM/Weights/Net_3/checkpoint
TFM/Weights/Net_3/synthetic_real_yuv_resize_epoch_73.data-00000-of-00001
TFM/Weights/Net_3/synthetic_real_yuv_resize_epoch_73.index
TFM/Weights/HelperNetV1/checkpoint
TFM/Weights/HelperNetV1/synthetic_epoch_517.data-00000-of-00001
TFM/Weights/HelperNetV1/synthetic_epoch_517.index
TFM/Weights/HelperNetV2/checkpoint
*.data-00000-of-00001
*.index
TFM/Weights/Net_4/checkpoint
TFM/Weights/Net_5/checkpoint
TFM/Models/HelperNetV1/checkpoint
TFM/Models/HelperNetV1/epoch_269.data-00000-of-00001
TFM/Models/HelperNetV1/epoch_269.index
TFM/Models/HelperNetV1/epoch_517.data-00000-of-00001
TFM/Models/HelperNetV1/epoch_517.index
